
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
@Html.Partial("PartialHead")

<body>
    @Html.Partial("PartialNavbar")
    @Html.Action("PartialPortfol")
    @Html.Action("PartialWhoIAm")
    @*@Html.Action("MyResume")*@
    @Html.Action("PartialService")
    @Html.Action("PartialStatistic")
    @*@Html.Action("PartialTestimonial")*@
    @Html.Action("PartialVideo")
    @Html.Action("PartialFooter")
    @Html.Action("PartialScript")
</body>
</html>
