@model MyPortfolio.Models.Entities.WhoAmI
@{
    ViewBag.Title = "UpdateWhoAmI";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Ben Kimim Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x => x.WhoID)
    @Html.Label("Ben Kimim Başlığı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 7 })
    <br />
    @Html.Label("Cv Link")
    @Html.TextBoxFor(x => x.CvLink, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>