@model MyPortfolio.Models.Entities.Blog
@{
    ViewBag.Title = "BlogEkle";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("BlogEkle", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Resim")
    <input type="file" name="ImageURL" class="form-group" />
    @*<br />
    @Html.Label("Başlık 2")
    @Html.TextBoxFor(x => x.Title1, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama 2")
    @Html.TextBoxFor(x => x.Description1, new { @class = "form-control" })*@
    <br />
    <input type="submit" value="Kaydet" class="btn btn-outline-success" />
}
