@using MyPortfolio.Models.Entities
@model List<Blog>
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Bloglar</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.Title</td>
            <td>@(item.Description.Length > 180 ? item.Description.Substring(0, 180) + "..." : item.Description)</td>
            <td>@item.Tarih</td>
            <td>@item.ImageURL</td>
            <td><a href="/BlogSil/@item.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/BlogGuncelle/@item.BlogID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogEkle" class="btn btn-info">Yeni Blog Ekle</a>


